* {
    font-family: "Inter";
  }
  
  body {
    background-image: url(../img/background/bg.png);
    background-size: cover;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* background-color: rgb(201, 103, 103); */
  }
  .nav .logo {
    padding-left: 10%;
    margin-top: 1%;
  }
  .nav .translate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 45%;
    margin-top: 1%;
  }
  .nav .translate .transl_text_1 {
    color: #FF0000;
    font-weight: normal;
    font-size: 30px;
    text-decoration: none;
  }
  .nav .translate .transl_text_2 {
    color: #FF0000;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* background-color: rgb(71, 216, 163); */
  }
  
  .main .btn1 {
    margin-top: 5%;
    cursor: pointer;
    margin-left: 40%;
    background-color: #DA1215;
    color: #FDFDFD;
    border: solid 0px red;
    border-radius: 11px;
    max-width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 30px;
  }
  .main .btn2 {
    margin-top: 3%;
    margin-left: 10%;
    color: #FDFDFD;
    background-color: #DA1215;
    border-radius: 11px;
    border: solid 0px red;
    cursor: pointer;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 16%;
    padding-left: 16%;
    font-size: 30px;
    font-weight: normal;
  }
  .btn3 {
    background-color: #DA1215;
    border-radius: 11px;
    cursor: pointer;
    font-size: 30px;
    font-weight: normal;
    color: #FDFDFD;
    border: solid 0px red;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 22.1%;
    padding-left: 22.1%;
    margin-top: 3%;
    margin-left: 40%;
  }
  .btn4 {
    background-color: #DA1215;
    border-radius: 11px;
    cursor: pointer;
    font-size: 30px;
    font-weight: normal;
    color: #FDFDFD;
    border: solid 0px red;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 16.2%;
    padding-left: 16.2%;
    margin-top: 3%;
    margin-left: 10%;
  }
  .dot {
    padding-top: 10%;
    color: #FDFDFD;
  }